<hero
      class="grid text-center text-white bg-gray-700 bg-cover z-10 relative bg-center bg-[url('https://resources.owllabs.com/hs-fs/hubfs/Zoom_BG7_Sudy-jpg.jpeg?width=887&name=Zoom_BG7_Sudy-jpg.jpeg')]"
    >
      <div class="h-full col-start-1 row-start-1 bg-gray-800 bg-opacity-40"></div>
      <div class="col-start-1 row-start-1 px-10 py-24">
        <h1 class="title-blip">Awesome Photos & Captions</h1>
        <p class="mb-10 text-lg font-bold">Share your content</p>
        <a class="button" href="">Get started</a>
      </div>
    </hero>